#launchpad div.pad{
  width:6em;
  height:6em;
  border:.25em solid black;
  border-radius:1em;
  overflow:hidden;
  display:inline-block;
  margin:.25em;
  text-align:center;
  font-weight:bold;
  transition:background-color .5s,border-color 2s,opacity 1s;
  background-color:rgba(255,255,255,.5);
  cursor:pointer;
}
#launchpad div.pad .padtext{font-size:medium;}
#launchpad div.pad.pulse{
  background-color:white;
  border-color:white;
  opacity:0;
}
#launchpad div.pad *{margin-bottom:.5em;}
#launchpad div.pad input{display:none;}
#launchpad div.pad div.controlpad*{
  margin:.1em;
  font-weight:bolder;
  font-family:fixed;
  cursor:pointer;
  font-size:1em;
}
#launchpad{padding:2em;}
body{
  background-image: linear-gradient(to bottom,darkred,darkred,black);
  text-align:center;
  height: 100%;
  margin: 0;
}
#controls>a,#controls>label{
  font-size:5em;
  margin:.5em;
  cursor:pointer;
}
#controls input{display:none;}
a:link{
  color:white;
  text-decoration:none;
}
